* {
    box-sizing: border-box;
}

.main-layout {
    display: grid;
    grid-template-columns: minmax(1fr, 500px) 20px minmax(1fr, 500px);
}

.control {
    grid-column: 1/2;
}

.map-container {
    grid-column: 3/4;
}


/* .locations {} */

button {
    display: block;
    margin-bottom: 20px;
}